<div class="row">
  <div class="span2">
    <span class="thumbnail">
      <%= image_tag "headshot.jpg" %>
    </span>
  </div>
  <div class="span5">
    <h2>Bio</h2>
    <p>
      Thanks for visiting <%= link_to "cyrusstoller.com", root_path %>. I double majored in Computer Science and Math at 
      <%= link_to "Swarthmore College", "http://www.swarthmore.edu/" %>. 
      I'm always curious to figure out how things work, whether that means looking at source code, 
      proving a theorem, or taking a screwdriver to a gizmo. This site is dedicated to sharing some projects I've been working on.
    </p>
    
    <p>I'm glad to be back in California after a four year adventure on the East Coast.</p>
    
    <p>
      <%= link_to "mailto:cyrus.stoller@gmail.com?subject=[cyrusstoller.com] Hey I saw your website", :class => "btn btn-primary" do %>
        <i class="icon-envelope"></i> Email me
      <% end %>
      &nbsp;
      <%= link_to nil, :class => "btn" do %>
        <i class="icon-download-alt"></i> Résumé
      <% end %>
    </p>    
  </div>
</div>

<hr/>