<h3>iOS Applications</h3>
<p>I contributed features and fixing bugs in these apps. I found my roommate using <%= link_to "Big Words", "http://itunes.apple.com/us/app/big-words/id296290510" %> on my iPad in an auditorium full of students who might be moving to Palo Alto.</p>
<div class="row">
  <div class="span1">
    <%= link_to "http://itunes.apple.com/us/app/big-words/id296290510", :class => "thumbnail" do %>
      <%= image_tag "http://a2.mzstatic.com/us/r1000/088/Purple/76/82/c3/mzl.mgymxdsq.175x175-75.jpg", :max_width => "100px" %>
    <% end %>
  </div>
  <div class="span2">
    <%= link_to "Big Words (on the App Store)", "http://itunes.apple.com/us/app/big-words/id296290510" %><br>
    Turn your iPhone or iPad into a giant sign. Great for sharing in loud places.
  </div>

  <div class="span1">
    <%= link_to "http://itunes.apple.com/us/app/math-cards/id303293933", :class => "thumbnail" do %>
      <%= image_tag "http://a4.mzstatic.com/us/r1000/097/Purple/74/af/da/mzl.rabejmvn.175x175-75.jpg" %>
    <% end %>
  </div>
  <div class="span3">
    <%= link_to "MathCards (on the App Store)", "http://itunes.apple.com/us/app/math-cards/id303293933" %><br>
    Helps kids learn arithmetic.
  </div>

</div><br>
<p>
  I've also written an iPhone app to help you find places to eat when road tripping. I hate Yelping a restaurant that looked appetizing, only to find out that it's 5 miles in the wrong direction. The app I wrote filters Yelp results, so you only see ones in the direction that you're driving. Unfortunately, Yelp was going to make me pay to use their API, so I scrapped it. If you're interested in seeing the code I had, you can check it out the <%= link_to "code on github", nil %>. 
</p>
<%= span_labels "Geolocation", "iAds", "MFMailComposer", "UITableView", "YAJL" %>