<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Programming</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Languages (everyday)</td>
      <td><code>Javascript</code>, <code>Objective-C</code>, <code>Python</code>, <code>Ruby</code></td>
    </tr>
    <tr>
      <td>Languages (proficient)</td>
      <td><code>awk/sed</code>, <code>C/C++</code>, <code>LISP</code>, <code>MatLab</code>, <code>Java</code></td>
    </tr>
    <tr>
      <td>Languages (for fun)</td>
      <td><code>Haskell</code>, <code>Julia</code>, <code>OCaml</code></td>
    </tr>
    <tr>
      <td>Databases</td>
      <td><%= link_to "MySQL", "http://www.mysql.com/" %>, <%= link_to "Postgres", "http://www.postgresql.org/" %>, <%= link_to "Redis", "http://redis.io/" %></td>
    </tr>
    <tr>
      <td>Version Control</td>
      <td><%= link_to "git", "http://git-scm.com/" %> and <%= link_to "Github", "https://github.com/cyrusstoller" %></td>
    </tr>
    <tr>
      <td>Web (fluent)</td>
      <td>
        <%= link_to "Ruby on Rails", "http://rubyonrails.org/" %>, 
        <%= link_to "jQuery", "http://jquery.com/" %>, 
        <%= link_to "Sinatra", "http://www.sinatrarb.com/" %>
      </td>
    </tr>
    <tr>
      <td>Web (tinkering)</td>
      <td>
        <%= link_to "Node.js", "http://nodejs.org/" %>,
        <%= link_to "Flask", "http://flask.pocoo.org/" %>, 
        <%= link_to "Django", "https://www.djangoproject.com/" %>, 
        <%= link_to "PHP", "http://www.php.net/" %>
      </td>
    </tr>
    <tr>
      <td>Deployed on</td>
      <td><%= link_to "Heroku", "http://www.heroku.com/" %>, <%= link_to "Engine Yard", "http://www.engineyard.com/" %></td>
    </tr>
    <tr>
      <td>Typical Web Browsers</td>
      <td>
        <%= link_to "Chrome", "https://www.google.com/chrome" %>, <%= link_to "Safari", "http://www.apple.com/safari/download/" %>, 
        <%= link_to "Firefox", "http://www.mozilla.org/en-US/firefox/new/" %>
      </td>
    </tr>
    <tr>
      <td>TDD/BDD</td>
      <td>
        <%= link_to "rspec", "http://rspec.info/" %>, <%= link_to "spork", "https://github.com/sporkrb/spork" %>, 
        <%= link_to "autotest", "http://www.zenspider.com/ZSS/Products/ZenTest/" %>
      </td>
    </tr>
    <tr>
      <td>Mobile Development</td>
      <td><code>iOS</code></td>
    </tr>
    <tr>
      <td>Text Editor</td>
      <td><%= link_to "TextMate", "http://macromates.com/" %>, <%= link_to "emacs", "http://www.gnu.org/software/emacs/" %>, <%= link_to "XCode", "https://developer.apple.com/xcode/" %></td>
    </tr>
    <tr>
      <td>Terminal</td>
      <td><%= link_to "iTerm2", "http://www.iterm2.com/" %></td>
    </tr>
    <tr>
      <td>Shell</td>
      <td><code>bash</code>, but wondering if I should switch to <code>zsh</code></td>
    </tr>
    <tr>
      <td>Package Manager</td>
      <td><%= link_to "Homebrew", "http://mxcl.github.com/homebrew/" %></td>
    </tr>
    <tr>
      <td>Time Management</td>
      <td>
        <%= link_to "Pomodoro", "http://pomodoro.ugolandini.com/" %> - 
        <%= link_to "wiki explanation", "http://en.wikipedia.org/wiki/Pomodoro_Technique" %>
      </td>
    </tr>
    <tr>
      <td>Screen Coloring</td>
      <td><%= link_to "F.lux", "http://stereopsis.com/flux/" %></td>
    </tr>
    <tr>
      <td>Machine</td>
      <td>Macbook Pro 15" Intel Core 2 Duo</td>
    </tr>
    <tr>
      <td>Operating System</td>
      <td>Mac OS 10.6.8</td>
    </tr>
  </tbody>
</table>
