<h3>Recent Ruby on Rails Projects</h3>

<!-- data mustard -->
<h4>
  <i class="icon-lock"></i>
  <%= link_to "Data Mustard (live)", "http://datamustard.com/" %>
  &mdash; Github for data analysis
  <small> &mdash; code samples available upon request</small>
</h4>
<blockquote>Think of it as Github for data analysis, but instead of merging versions together, Data Mustard tracks analyses as they fan out.
  Applications like SPSS and Stata produce endless output files that are overwhelming and difficult to track, especially when multiple people 
  are performing analyses on the same data set. With Data Mustard, users won’t need to search through "sent" mail for analyses that have 
  already been performed.
  <br><br>
  Data Mustard provides a better framework for tracking analyses. Data Mustard does for analyses what Facebook and LinkedIn 
  have done for the Rolodex.
  <br>
  <%= span_labels "Acts As Taggable", "AJAX", "CanCan", "Carrierwave", "Custom API", "Date.js", "Devise", "FactoryGirl", "Fog", "jBuilder" %>
  <%= span_labels "jQuery", "MySQL", "Nokogiri", "Redcarpet", "Redis", "Resque", "rspec", "S3", "YAJL" %>
</blockquote>

<!-- cyro laughs -->
<h4>
  <i class="icon-film"></i>
  <%= link_to "Cyro Laughs (live)", "http://cyrolaughs.com/" %>
  &mdash; Stumble Upon for video
  <small> &mdash; <%= link_to "code on github", "https://github.com/cyrusstoller/CyroLaughs" %></small>
</h4>
<blockquote>When we get together with friends it's fun to share videos we've seen. When you need a break from your work and 
  have already watched all of the movies that your friends have shared on Facebook and Twitter you need another place to turn to.
  This is a Stumble Upon for videos that maintains surprisingly high quality.
  <br>
  <%= span_labels "Addthis", "Bookmarklet", "Devise", "Facebook App", "FactoryGirl", "jQuery", "Nokogiri", "Postgresql", "Omniauth", "rspec", "YAJL" %>
  <span class="label label-success">open source</span>
</blockquote>

<!-- classy letters -->
<h4>
  <i class="icon-pencil"></i>
  <%= link_to "Classy Letters (live)", "http://classyletters.herokuapp.com/" %>
  &mdash; Handwritten letters without going to the post office
  <small> &mdash; <%= link_to "code on github", "https://github.com/cyrusstoller/ClassyLetters" %></small>
</h4>
<blockquote>Classy Letters is an easy way to send a unique handwritten letter without having to go to the post office. Whether it's a "Thank
  you," a special card to Mom on Mother's day, or a love letter to your special someone, they'll be talking about this Classy Letter for a long 
  time. There's no need to buy stationary or make sure you have stamps and an envelope. Show your colleagues, family, and friends that you care. 
  <br>
  <%= span_labels "Addthis", "AJAX", "CanCan", "Date.js", "Devise", "FactoryGirl", "jQuery", "Postgresql", "rspec", "Stripe" %>
  <span class="label label-success">open source</span>
</blockquote>

<!-- stroll.io -->
<h4>
  <i class="icon-picture"></i>
  <%= link_to "Stroll.io (live)", "http://www.stroll.io/" %>
  &mdash; Social image search by geolocation
  <small> &mdash; <%= link_to "code on github", "https://github.com/cyrusstoller/Strollio" %></small>
</h4>
<blockquote>It's hard to decide where to go on vacation. Searching Google or buying a Lonely Planet is helpful, but it feels stiff. It's really helpful to see the types of experiences that your friends had when they were there. Until now, you've had to go to each friend's profile and browse through all of their pictures, which takes forever. Now you can just search by geolocation. It's as simple as that.
  <br>
  <%= span_labels "Facebook", "Foursquare", "Geolocation", "Instagram", "jQuery", "Omniauth", "rspec", "Singly", "Twitter" %>
  <span class="label label-success">open source</span>
</blockquote>

<!-- rscu -->
<h4>
  <i class="icon-flag"></i>
  <%= link_to "rscu (live)", "http://www.rscu.org/" %>
  &mdash; See when your friends are feeling down
  <small> &mdash; <%= link_to "code on github", "https://github.com/cyrusstoller/rscu" %></small>
</h4>
<blockquote>It's a big deal when someone says that they're down. We try our best to wear a positive face online. Use rscu so you don't miss when one of your friends is in need. rscu shows you the status updates from your friends when things aren't going according to plan.
  <br>
  <%= span_labels "Facebook", "jQuery", "Omniauth", "rspec", "Singly", "Twitter" %>
  <span class="label label-success">open source</span>
</blockquote>

<!-- kit2 -->
<h4>
  <i class="icon-gift"></i>
  <%= link_to "Knowledge Information Truth Survey (concluded)", "http://drlrl-kit2.herokuapp.com/" %>
  <small> &mdash; <%= link_to "code on github", "https://github.com/cyrusstoller/KIT2PlusB" %></small>
</h4>
<blockquote>This is an experiment to determine how people conceptualize the relations between knowledge, information, and truth in a 
  digital age. This site tests the relationship between these beliefs and how participants use multiple text sources to answer academic
  questions.
  <br>
  <%= span_labels "jQuery", "Nokogiri", "Postgresql", "twitter-bootstrap-rails" %>
  <span class="label label-success">open source</span>
</blockquote>