<div class="row">
  <div class="span7">
    <%= render :partial => 'bio' %>

    <p>Here are some projects that I've worked on recently:</p>
    
    <%= render :partial => 'rails_projects' %>
    <hr/>
    <%= render :partial => 'iOS_projects' %>
  </div>

  <div class="span5">
    <%= render :partial => 'programming_facts' %>
    <%= render :partial => 'one_liners' %>
  </div>
</div>