<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "Cyrus Stoller's Portfolio", root_path, :class => "brand" %>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="divider-vertical"></li>
          <li><%= link_to "Twitter", "http://www.twitter.com/cyrusstoller" %></li>
          <li><%= link_to "Github", "https://github.com/cyrusstoller/" %></li>
          <li><%= link_to "Stackoverflow", "http://stackoverflow.com/users/686567/cyrus" %></li>
          <li><%= link_to "Blog", "http://blog.knolcano.com" %></li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div>